Repository Hydrospheredata/hydro-serving, pull requests merged in 2018-07, with the labels that each got.

#180 Documentation release
  .gitignore
  README.md
  build.sbt
  docs/about.md
  docs/application.md
  docs/contracts.md
  docs/demo.md
  docs/deployment.md
  docs/deployment/HydroServingDeployemnt_ECS.png
  docs/deployment/HydroServingDeployemnt_dev.png
  docs/deployment/HydroServingDeployemnt_dockercompose.png
  docs/deployment/deployment_amazonecs.md
  docs/deployment/deployment_dev.md
  docs/deployment/deployment_docker_compose.md
  docs/docs_main.md
  docs/images/4http.png
  docs/images/4modelpipeline.png
  docs/images/Diagrams.png
  docs/images/NLP-serving-pipeline.png
  docs/images/high-level-architecture.png
  docs/images/mllambda.png
  docs/images/pm_pipeline.png
  docs/images/realml.png
  docs/images/serving-experiment.png
  docs/images/serving-pipelines-in-kafka.png
  docs/images/top_view.png
  docs/images/top_view2.png
  docs/prometheus.md
  docs/runtimes.md
  docs/src/main/resources/microsite/img/create-application-empty.png
  docs/src/main/resources/microsite/img/example-nlp-pipeline-modified-2.png
  docs/src/main/resources/microsite/img/example-nlp-pipeline-modified.png
  docs/src/main/resources/microsite/img/example-nlp-pipeline.png
  docs/src/main/resources/microsite/img/hydro-large.png
  docs/src/main/resources/microsite/img/hydro-small.png
  docs/src/main/resources/microsite/img/ui-hydrosphere-main.png
  docs/src/main/resources/microsite/img/ui-models-page.png
  docs/src/main/resources/microsite/img/ui-test-button.png
  docs/src/main/tut/application.md
  docs/src/main/tut/contract.md
  docs/src/main/tut/getting-started.md
  docs/src/main/tut/model.md
  docs/src/main/tut/runtime.md
  docs/src/main/tut/welcome.md
  docs/src/main/tut/why-ml-lambda.md
  jenkinsfile.groovy
  project/plugins.sbt
Labels: work in progress

#181 Fix for data shaping
  manager/src/main/scala/io/hydrosphere/serving/manager/model/api/json/ColumnShaper.scala
  manager/src/main/scala/io/hydrosphere/serving/manager/model/api/json/DimShaper.scala
  manager/src/main/scala/io/hydrosphere/serving/manager/model/api/json/TensorJsonLens.scala
  manager/src/test/scala/io/hydrosphere/serving/manager/model/api/TensorExampleGeneratorSpec.scala
  manager/src/test/scala/io/hydrosphere/serving/manager/model/api/TensorJson.scala
Labels: bug

#183 Documentation Release fixes
  build.sbt
  docs/src/main/resources/microsite/css/adjustments.css
  docs/src/main/resources/microsite/data/menu.yaml
  docs/src/main/resources/microsite/img/example-nlp-pipeline-modified-2.png
  docs/src/main/resources/microsite/img/example-nlp-pipeline-modified.png
  docs/src/main/resources/microsite/img/example-nlp-pipeline.png
  docs/src/main/resources/microsite/img/favicon-16x16.png
  docs/src/main/resources/microsite/img/favicon-192x192.png
  docs/src/main/resources/microsite/img/favicon-194x194.png
  docs/src/main/resources/microsite/img/favicon-32x32.png
  docs/src/main/resources/microsite/img/favicon-48x48.png
  docs/src/main/resources/microsite/img/favicon-72x72.png
  docs/src/main/resources/microsite/img/favicon-96x96.png
  docs/src/main/resources/microsite/img/favicon.png
  docs/src/main/resources/microsite/img/hydro-large.png
  docs/src/main/resources/microsite/img/hydro-small.png
  docs/src/main/resources/microsite/img/ui-hydrosphere-main.png
  docs/src/main/resources/microsite/img/ui-test-button.png
  docs/src/main/tut/applications.md
  docs/src/main/tut/contract.md
  docs/src/main/tut/contracts.md
  docs/src/main/tut/getting-started.md
  docs/src/main/tut/index.md
  docs/src/main/tut/model.md
  docs/src/main/tut/models.md
  docs/src/main/tut/runtimes.md
  docs/src/main/tut/welcome.md
  docs/src/main/tut/why-ml-lambda.md
Labels: enhancement
