Repository Hydrospheredata/hydro-serving, pull requests merged in 2021-07, with the labels that each got.

#370 build: postgres bump helm version
  helm/postgresql/Chart.yaml
  helm/postgresql/templates/secrets.yaml
Labels: build, external

#376 build: registry bump helm version
  helm/docker-registry/Chart.yaml
Labels: build, external

#377 build: autood bump helm chart
  helm/auto-od/Chart.yaml
  helm/auto-od/README.md
  helm/auto-od/templates/deployment.yaml
Labels: autood, build

#373 build: bump mongodb and helm version
  helm/mongodb/Chart.yaml
  helm/mongodb/templates/secrets.yaml
Labels: build

#369 build: rootcause bump helm version
  helm/rootcause/Chart.yaml
  helm/rootcause/README.md
Labels: rootcause

#368 build: sonar bump helm version
  helm/sonar/Chart.yaml
Labels: build, sonar

#375 build: gateway bump helm version
  helm/gateway/Chart.yaml
  helm/gateway/README.md
Labels: build, gateway

#372 build: visualisation bump helm version
  helm/visualization/Chart.yaml
Labels: build

#367 build: stat bump helm version
  helm/stat/Chart.yaml
Labels: build, stat

#371 build: manager bump helm version
  helm/manager/Chart.yaml
  helm/manager/README.md
  helm/manager/values.yaml
Labels: build, manager

#374 build: bump minio and helm version
  helm/minio/Chart.yaml
  helm/minio/LICENSE
  helm/minio/README.md
  helm/minio/charts/common/Chart.yaml
  helm/minio/charts/common/README.md
  helm/minio/charts/common/templates/_affinities.tpl
  helm/minio/charts/common/templates/_capabilities.tpl
  helm/minio/charts/common/templates/_errors.tpl
  helm/minio/charts/common/templates/_images.tpl
  helm/minio/charts/common/templates/_ingress.tpl
  helm/minio/charts/common/templates/_secrets.tpl
  helm/minio/charts/common/templates/_utils.tpl
  helm/minio/charts/common/templates/validations/_cassandra.tpl
  helm/minio/charts/common/templates/validations/_mariadb.tpl
  helm/minio/charts/common/templates/validations/_mongodb.tpl
  helm/minio/charts/common/templates/validations/_postgresql.tpl
  helm/minio/charts/common/templates/validations/_redis.tpl
  helm/minio/charts/common/templates/validations/_validations.tpl
  helm/minio/ci/distributed-values.yaml
  helm/minio/ci/values-gateway.yaml
  helm/minio/ci/values-production.yaml
  helm/minio/templates/NOTES.txt
  helm/minio/templates/_helpers.tpl
  helm/minio/templates/distributed/headless-svc.yaml
  helm/minio/templates/distributed/pdb.yaml
  helm/minio/templates/distributed/statefulset.yaml
  helm/minio/templates/extra-list.yaml
  helm/minio/templates/gateway/deployment.yaml
  helm/minio/templates/ingress.yaml
  helm/minio/templates/networkpolicy.yaml
  helm/minio/templates/pvc-standalone.yaml
  helm/minio/templates/pvc.yaml
  helm/minio/templates/secrets.yaml
  helm/minio/templates/service.yaml
  helm/minio/templates/serviceaccount.yaml
  helm/minio/templates/servicemonitor.yaml
  helm/minio/templates/standalone/deployment.yaml
  helm/minio/templates/statefulset.yaml
  helm/minio/templates/svc-headless.yaml
  helm/minio/templates/tls-secrets.yaml
  helm/minio/values-production.yaml
  helm/minio/values.yaml
Labels: build, external

#365 build: bump alertmanager version and helm
  helm/alertmanager/.helmignore
  helm/alertmanager/Chart.yaml
  helm/alertmanager/README.md
  helm/alertmanager/ci/config-reload-values.yaml
  helm/alertmanager/templates/NOTES.txt
  helm/alertmanager/templates/_helpers.tpl
  helm/alertmanager/templates/configmap.yaml
  helm/alertmanager/templates/deployment.yaml
  helm/alertmanager/templates/ingress.yaml
  helm/alertmanager/templates/service.yaml
  helm/alertmanager/templates/serviceaccount.yaml
  helm/alertmanager/templates/services.yaml
  helm/alertmanager/templates/statefulset.yaml
  helm/alertmanager/templates/tests/test-connection.yaml
  helm/alertmanager/values.yaml
Labels: build

#378 build: serving bump helm version
  helm/serving/Chart.yaml
  helm/serving/requirements.yaml
  helm/serving/templates/_helpers.tpl
  helm/serving/templates/secrets.yaml
  helm/serving/values-production.yaml
  helm/serving/values.yaml
Labels: build

#385 autood: fix env variables
  docker-compose.yaml
  docker-compose/hydro-auto-od.service.template
Labels: autood
